<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="height">1080</entry>
<entry key="overall">1.0</entry>
<entry key="width">1920</entry>
<entry key="effects">1.0</entry>
<entry key="music">0.0</entry>
</properties>
